{% extends 'layouts/based.html' %}


{% block content %}
<section class="block-container">
   <div class="blogs-holder">
   
    
   
   <div class="catitem-container">
   </div>
    <div class="block-content">
            
        {% for p in post %}
        <div class="bloc-items">
            <a href="{{ url_for('blogdetails_page.blogdetails',slug=p.slug) }}">
                <img src="{{ url_for('static', filename='blogsimg/' + p.image) }}" alt="Blog image">
             <div class="block-info">
                 <h1>{{p.title}}</h1>
                 <div class="content-name">
                     <h1>{{p.user.username}}</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>{{ p.date_posted.strftime('%Y-%m-%d') }}</p>
                 </div>
                 <p class="text-description">{{p.content}}</p>
            </a>
            <div class="category-blog">
                <p>{{p.category.name}}</p>
            </div>
             </div>
         </div>
        {% endfor %}
     
</div>
        
  
   </div>
</section>
{% endblock  %}