{% extends 'layouts/based.html' %}


{% block content %}
<section class="block-container">
   <div class="blogs-holder">
    <div class="block-content">
        <div class="bloc-items">
           <a href="">
            <img src="{{url_for('static', filename='img/j18.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                    <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
           </a>
            </div>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m1.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m3.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m4.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m5.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m6.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m7.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>

        <div class="bloc-items">
            <a href="">
                <img src="{{url_for('static', filename='img/m8.jpg')}}" alt="" />
            <div class="block-info">
                <h1>When All Else is Lost, the Future Still Remains Nature</h1>
                <div class="content-name">
                    <h1>Chika Nwazuo</h1>
                     <p class="date"><i class="fa-solid fa-chess-board"></i>11/03/2023</p>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsu…</p>
            </div>
            </a>
        </div>
    </div>
   </div>
</section>
{% endblock  %}