<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>added</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <script src="https://kit.fontawesome.com/0560d0caf7.js" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'layouts/nav.html' %}

    {% block content %}{% endblock  %}

    {% include 'layouts/footer.html' %}
    
</body>
</html>