<nav class="nav-top">
    {# jjjjjj#}
    <li><a href="{{ url_for('home_page.home') }}">Chika Nwazuo</a></li>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('about_page.about') }}">About us</a></li>
        <li><a href="">Contact us</a></li>
        
       
       {% if 'username' in session %}
       <li><a href="#"> {{ session['username'] }}</a></li>
       <li><a href="{{ url_for('logoutuser.logout') }}"> Logout</a></li>
       <li><a href="{{ url_for('category_page.category') }}">Category</a></li>
       {% else %}
       <li><a href="{{ url_for('register_page.register') }}">Register</a></li>
      
       {% endif %}
        
    </ul>
</nav>