

.blogs-holder{
    margin: 30px 10px;
}
.block-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bloc-items{
    display: flex;
    flex-direction: column;
    width: 300px;
    box-shadow: 7px 0px 30px -20px;
    border-radius: 8px;
    margin-bottom: 40px;
    overflow: hidden;
    border: 0.8px solid gray;
    position: relative;
}
.bloc-items a{
    color: black;
}
.bloc-items img{
    width: 300px;
    transition: width 2.5s ease-in-out;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
.bloc-items img:hover{
    width: 320px;
}

.block-info h1{
    padding: 0px 8px;
    font-size: 15px;
    font-weight: 300;
}
.content-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
}
.content-name h1{
    margin: 0;
}
.block-info p{
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0px 8px;
}
.date{
    display: flex;
    align-items: center;
    gap: 8px;
}
.text-description{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.category-blog{
    position: absolute;
    top: 0;
    background-color: blue;
    padding: 5px;
    border-radius: 8px;
}
.category-blog p{
    color: white;
}
.catitem-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 8px;
}
.viewall{
    padding: 8px;
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-size: 15px;
}
.catitem-container button{
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 800;
}

/* blogs-details */
.blogs-details-page{
    display: flex;
    gap: 20px;
}
.blog-details-item{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
}
.blog-details-sidebar{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
}

/* blogdetails-info */
.detalis-img{
    text-align: center;
}
.detalis-img img{
    width: 500px;
    height: 400px;
    object-fit: cover;
}
.blogdetails-info h1{
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.blog-user-div{
    display: flex;
    flex-direction: column;
}
.blodate{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* socialmedia */
.socialmedia-container{
    display: flex;
    flex-direction: column;
}
.socialmedia-container h1{
    font-size: 15px;
    font-weight: 300;
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.socialmedia li a{
    background-color: black;
    padding: 8px;
    text-align: center;
}
.socialmedia i{
    font-size: 24px;
    color: white;
}
/* related-post-items */
.related-post-items{
    box-shadow: 7px 0px 30px -20px;
    border-radius: 8px;
    margin-top: 10px;
}
.relatedh1{
    margin-top: 20px;
}
.related-post-items img{
    width: 100%;
    border-radius: 8px;
}
.related-post-items h1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

/* comment-form */
.comment-form form{
    display: flex;
    flex-direction: column;
}
.comment-form form textarea{
    resize: none;
    margin-bottom: 8px;
    border-radius: 8px;
    outline: none;
}
.comment-form form input[type="submit"]{
    background-color: blue;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
/* users-comment */
.users-comment{
    display: flex;
    flex-direction: column;
    margin:30px 0px;
}
.allcomment{
    display: flex;
    gap: 20px;
    max-width: 800px;
    box-shadow: 7px 0px 30px -20px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 8px;
}
.userprofile img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.userprofile h1{
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}





