{% extends 'admin/layout/adminbased.html' %}

{% block content %}
<div class="add-item-form-div">
    <div class="table-form">
     
        <button class="addformbtn" onclick="openform()">Clos</button>
    <div class="addform-form">
     
        <form action="" method="post" enctype="multipart/form-data">
         {% with messages=get_flashed_messages() %}
         
         {% if messages %}
          
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
            
         {% endif %}
          {% endwith %} 
          
         {{ blogform.csrf_token }} 
            {{ blogform.title.label }}
            {{ blogform.title }}
            <label for="">Category</label>
           <select required name="category_id" id="category_id">
            <option>Choose category</option>
            
            {% for c in cat %}
            <option value="{{ c.id }}">{{c.name}}</option>
            {% endfor %}
              
           </select>
            {{ blogform.content.label }}
            {{ blogform.content }}
            {{ blogform.image.label }}
            {{ blogform.image }}
            {{ blogform.submit }}
        </form>
    </div>
    <div class="table-div">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Image</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for p in post %}
              <tr>
                <td>{{p.title}}</td>
                <td class="myblog-img">
                  <img src="{{ url_for('static', filename='blogsimg/' + p.image) }}" alt="Blog image">
                </td>
                <td><a href="">Update</a></td>
                <td><a href="">Delete</a></td>
              </tr>
              {% endfor %}
             {#
              {% for c in cat %}
              <td>{{ c.name }}</td>
              
              {% for p in c.posts %}
                <td>{{ p.title }}</td>
              {% endfor %}
              
            {% endfor %}
             #}
                
            </tbody>
          </table>
    </div>
    </div>
</div>
{% endblock  %}