<div class="topbar">
    <div class="topbaritems">
        <div class="items-counter">
            <div class="topbar-icon-div">
                <h1>Blog Views</h1>
                <i class="fa-solid fa-user"></i>
            </div>
            <p>123</p>
        </div>
        <div class="items-counter">
            <div class="topbar-icon-div">
                <h1>Blog Views</h1>
                <i class="fa-solid fa-user"></i>
            </div>
            <p>123</p>
        </div>

        <div class="items-counter">
            <div class="topbar-icon-div">
                <h1>Blog Views</h1>
                <i class="fa-solid fa-user"></i>
            </div>
            <p>123</p>
        </div>

        <div class="items-counter">
            <div class="topbar-icon-div">
                <h1>Blog Views</h1>
                <i class="fa-solid fa-user"></i>
            </div>
            <p>123</p>
        </div>
    </div>
</div>